.header-image{
  height: 5rem;
  width: 5rem;
}
.container-fluid{
  background-color:#F4F7FC;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  
  
}
.container{
  margin-bottom: 10rem;
}
code{
  background-color:wheat;
  
}
@media (max-width: 576px){
.container-sm, .container, .img {
  width: 500px;
  height: 300px;
  margin-left: 2.3rem;
  text-align: center;
}

}
@media (max-width: 576px){
  .container-fluid{
    padding-top: 12rem !important;
    padding-bottom: 10rem !important;
    width: 35rem;
    margin-top: 30rem;
    
}

  }
  @media (max-width: 576px){
    .dog{
      padding-bottom: 30rem;
      margin-left: 2.2rem;

    }
  }
  @media (max-width: 576px){
    .mountain{
    padding-bottom: 27rem;
    margin-left: -1.6rem;
    text-align: center;
}
.content{
  padding-top: 2rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.alert{
  position: relative;
    padding: 1rem 5rem;
    margin-bottom: 1rem;
}

    
  }
  @media (max-width: 576px){
    .foot{
      margin-top: 20rem;
      width: 37rem;


    }
  }
